@model IEnumerable<Zotik.Models.Pad>

<div class="container-fluid">
    <!-- Products -->
    <hr>
    <main>
        <h1 class="center">Продукти</h1>
        <hr>
        <br />
        <div class="row center-block">
            @{
                foreach (Pad pad in Model)
                {
                    var imgSource = "~/images/products/" + pad.ImageName;

                    <div class="col-sm-4 col-md-3 col-xs-6">
                        <div class="product-title">
                            <h4>@pad.Name</h4>
                        </div>
                        <img src="@imgSource"
                             class="img-thumbnail img-responsive"
                             alt="Дамски Превръзки Дневни Памук 10 броя" />
                        <p>@pad.Description</p>
                    </div>
                }
            }
        </div>
    </main>
</div>
<hr>