<div class="container-fluid">
<!-- Products -->
 <hr>
<main>
    <h1 class="center">Продукти</h1>
    <hr>
    <br/>
    <div class="row">
    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Памук 10 броя Comfort</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\comfort-dnevni-pamuk-10.JPG" 
        class="img-thumbnail img-responsive"
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Супернощни Памук 7 броя Comfort</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\comfort-noshtni-7.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
        
    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Нощни Памук 8 броя Comfort</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\comfort-noshtni-pamuk-8.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Коприна 10 броя Lux</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\lux-dnevni-koprina-10.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Памук 8 броя Lux</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\lux-noshtni-pamuk-8.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Коприна 10 броя</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\dnevni-koprina-10.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Коприна 20 броя 155см</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\dnevni-koprina-20-155.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 20 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Коприна 20 броя 180см</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\dnevni-koprina-20-180.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 20 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Памук 10 броя</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\dnevni-pamuk-10.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Памук 20 броя</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\dnevni-pamuk-20 (2).JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 20 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Памук 20 броя 155см</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\dnevni-pamuk-20-2-155.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 20 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Памук 20 броя 180см</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\dnevni-pamuk-20-180.jpg" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 20 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Коприна 50 броя</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\dnevni-pamuk-50-1-koprina.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Дневни Памук 50 броя</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\dnevni-pamuk-50-2.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Нощни Памук 10 броя</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\noshtni-pamuk-10-1.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4><a href="product.html">Дамски Превръзки Нощни Коприна 10 броя</a></h4>
        </div>
    <a href="product.html">
        <img
        src="Images\Product Pictures (new)\noshtni-koprina-10-2.jpg" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя">  
        </a>
        <p><a href="product.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</a></p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Нощни Коприна 50 броя</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\noshtni-koprina-50-2.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    <div class="col-sm-4 col-md-3 col-xs-6">
        <div class="product-title">
        <h4>Дамски Превръзки Нощни Памук 50 броя</h4>
        </div>
        <img 
        src="Images\Product Pictures (new)\noshtni-pamuk-50-1.JPG" 
        class="img-thumbnail img-responsive" 
        alt="Дамски Превръзки Дневни Памук 10 броя"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>

    </div>
</main>
</div>
<hr>